body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.slideshow {
  list-style-type: none;
  position: relative;
  height: 150px;
  padding: 10px 0;
  background: #eee;
}

li {
  width: 400px;
  display: block;
  box-sizing: border-box;
  padding: 20px;
  background: lightseagreen;
  color: #eaeaea;
  position: absolute;
}

li:nth-child(even) {
  background: lightcoral;
}
